@font-face {
  font-family: "Avenir";
  src: url("http://87.117.252.6:67/avenir/avenir.eot");
  src: url("http://87.117.252.6:67/avenir/avenir.svg#avenir") format("svg"),url("http://87.117.252.6:67/avenir/avenir.ttf") format("truetype"),url("http://87.117.252.6:67/avenir/avenir.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
