$ip = "http://87.117.252.6:67/"

$font1path = "avenir/avenir"
$font2path = "bebas/BEBAS"
$font3path = "manksans/manksans"
$font4path = "walkway/walkway"
$font5path = "krungthep/krungthep"
$font6path = "antonio/antonio"
$font7path = "ayita/ayita"
$font8path = "proxima/Proxima"
$font9path = "furore/furore"

$font1 = $ip + $font1path
$font2 = $ip + $font2path
$font3 = $ip + $font3path
$font4 = $ip + $font4path
$font5 = $ip + $font5path
$font6 = $ip + $font6path
$font7 = $ip + $font7path
$font8 = $ip + $font8path
$font9 = $ip + $font9path

@font-face 
	font-family Avenir
	src url($font1+'.eot')
	src url($font1+'.svg#avenir') format('svg'), url($font1+'.ttf') format('truetype'), url($font1+'.woff') format('woff')
	font-weight normal
	font-style normal

@font-face 
	font-family Bebas
	src url($font2+'.eot')
	src url($font2+'.svg#bebas') format('svg'), url($font2+'.ttf') format('truetype'), url($font2+'.woff') format('woff')
	font-weight normal
	font-style normal

@font-face 
	font-family Manksans
	src url($font3+'.eot')
	src url($font3+'.svg#manksans') format('svg'), url($font3+'.ttf') format('truetype'), url($font3+'.woff') format('woff')
	font-weight normal
	font-style normal

@font-face 
	font-family Walkway
	src url($font4+'.eot')
	src url($font4+'.svg#walkway') format('svg'), url($font4+'.ttf') format('truetype'), url($font4+'.woff') format('woff')
	font-weight normal
	font-style normal

@font-face 
	font-family krungthep
	src url($font5+'.eot')
	src url($font5+'.svg#krungthep') format('svg'), url($font5+'.ttf') format('truetype'), url($font5+'.woff') format('woff')
	font-weight normal
	font-style normal

@font-face 
	font-family Antonio
	src url($font6+'.eot')
	src url($font6+'.svg#antonio') format('svg'), url($font6+'.ttf') format('truetype'), url($font6+'.woff') format('woff')
	font-weight normal
	font-style normal

@font-face 
	font-family Ayita
	src url($font7+'.eot')
	src url($font7+'.svg#ayita') format('svg'), url($font7+'.ttf') format('truetype'), url($font7+'.woff') format('woff')
	font-weight normal
	font-style normal

@font-face 
	font-family Proxima
	src url($font8+'.eot')
	src url($font8+'.svg#proxima') format('svg'), url($font8+'.ttf') format('truetype'), url($font8+'.woff') format('woff')
	font-weight normal
	font-style normal
@font-face 
	font-family Proxima
	src url($font9+'.eot')
	src url($font9+'.svg#furore') format('svg'), url($font9+'.ttf') format('truetype'), url($font9+'.woff') format('woff')
	font-weight normal
	font-style normal