*{ margin: 0px; padding:0; }
html {
background: #111;
height:100%;
overflow: hidden;
background-image:radial-gradient(rgba(150,180,110,.85),rgba(175,220,130,.05));
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
nav{
  position:fixed;
  top:0px;
}
li {
  
  width: 50px;
  height: 50px;
  display: inline-block;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s; }

li:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: #ace; }

.github {
  margin: 10px;
  background: url("../img/git.png") no-repeat center center;
  -webkit-background-size: cover;
  float: right; }

.twitter {
  margin: 10px;
  background: url("../img/bird.png") no-repeat center center;
  -webkit-background-size: cover;
  float: left; }
  .discuss {
    margin: 10px;
  background: url("../img/talk.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  float: left; }
.nfo {
  margin-top:10px;
  margin-bottom: 10px;
  background: url("../img/nfo.png") no-repeat center center;
  -webkit-background-size: cover;
  position:fixed;
  bottom:0px;
  left:50%;
  margin-left: -25px; }
.option{
  margin-top: 30px;
  text-align: center;
  color: cyan;
  font-size: .7em;
}
.usage {
  margin-top:10px;
  margin-bottom: 10px;
  color:transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position:absolute;
  left:50%;
  margin-left: -25px;
  z-index: 1000;
}

.how{
  z-index: 1000;
  color:transparent;
  position: absolute;
  top:75px;
  left:50%;
}
pre{
  background: black;
}
.footer{
  width:100%;
  height:150px;
  background: #333;
  position: fixed;
  bottom: -150px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
  border-top:1px solid rgba(0,0,0,.25);
}
li.info{
  display:inline-block;
  width:140px;
  border-left: 1px solid cyan;
  border-right: 1px solid cyan;
}
.desc{
  padding-top: 30px;
  width:580px;
  margin:0 auto;
  font-family: Manksans,serif;
  color: salmon;
  text-shadow: 0 1px 0px rgba(0,0,0,.5);
  font-size: 1.25em;
}
.arrow {
  width: 0;
  height: 0;
  border: 19px solid;
  margin-left: 6px;
  border-top-color: black;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
  margin-top: 18px;
}

.reveal{
  display: none;
  position: relative;
  right:50%;
}
.talk {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0px;
  left: -500px;
  width: 400px;
  padding: 0px 50px 50px 50px;
  height: 100%; }

#disqus_thread {
  width: 400px;
  height: 100%;
  padding-bottom: 100px;
  overflow-y: auto; }

.close {
  margin: 10px;
  width: 50px;
  height: 50px;
  display: inline-block;
  opacity: .35;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
  background: url("../img/close.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  float: right;
  position: relative;
  top: 0px;
  right: -50px; }

.close:hover {
  opacity: 1;
  cursor: pointer; }

.container {
  width: 100%;
  height: 100%; }

.mCustomScrollBox {
  width: 430px; }